<li>  
<div class="user-img">
    <%= link_to user_path(user), class: "img-responsive" do %>
      <%= image_tag("http://placehold.it/75x75") %>
    <% end %>
  </div>
  <div class="user-info"> 
    
     <%= link_to user.name, user_path(user), class: "full_name" %>

    <h5>
    </h5>
    <%= link_to "Send message", "#", class: "btn btn-primary btn-xs msg-btn" %>
  </div>
</li>
