<% provide(:title, "Unactivated account") %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <p>Your account is yet to be activated, Please have petience while we activate your account. Check back shortly. </p>
  </div>
</div>
