<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
  <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>
<body class="main-content fill">
  <%= render 'layouts/header' %>
   <div class="container">
     <%= yield %>
   </div>
</body>
</html>
