<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
  <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="navbar-wrapper">
    <div class="container">
      <%= render 'layouts/header' %>
  </div>
  </div>
  <%= yield %>
  <div class="container">
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
